@media only screen and (min-width: 1200px) {
  #grid-selector {
    height: 10px;
    width: 1291px;
    padding: 40px 0 40px 30px;
    float: left;
    color: #5d5f68;
    font-size: 14px;
  }

  #grid-menu {
    float: right;
    width: 105px;
  }

  #grid {
    width: 1335px;
    position: absolute;
    left: 340px;
    height: 1200px;
    top: 180px;
  }

  #sidebar {
    float: left;
    background: #fff;
    width: 275px;
    padding: 13px 0 0 45px;
    height: 1400px;
    border-right: 1px solid #eee;
  }
  #sidebar h3 {
    color: #262626;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 35px 0 10px 0;
    letter-spacing: 1px;
    clear: both;
  }
  #sidebar .checklist {
    padding: 0;
  }
  .checklist ul li {
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    padding: 7px 0 7px 23px;
  }
  .checklist li span {
    float: left;
    width: 11px;
    height: 11px;
    margin-left: -23px;
    margin-top: 4px;
    border: 1px solid #d1d3d7;
    position: relative;
  }

  .sizes li span,
  .categories .sizes li {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }

  .checklist li a {
    color: #676a74;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .checklist li a:hover {
    color: #222;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .checklist a:hover span {
    border-color: #a6aab3;
  }
  .sizes a:hover span,
  .categories a:hover span {
    border-color: #a6aab3;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .checklist a span span {
    border: none;
    margin: 0;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .checklist a .x {
    display: block;
    width: 0;
    height: 2px;
    background: #5ff7d2;
    top: 6px;
    left: 2px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 50ms ease-out;
  }
  .checklist a .x.animate {
    width: 4px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  .checklist a .y {
    display: block;
    width: 0px;
    height: 2px;
    background: #5ff7d2;
    top: 4px;
    left: 3px;
    -ms-transform: rotate(13deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 50ms ease-out;
  }
  .checklist a .y.animate {
    width: 8px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }
  .checklist .checked span {
    border-color: #8d939f;
  }
  #sidebar img {
    margin-top: 6px;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 20.33333333%;
    height: 50%;
    padding: 0px 8px;
  }
}

/* Điện thoại di động nhỏ (small phones) */
@media only screen and (max-width: 599px) {
  #sidebar {
    display: none;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

/* Điện thoại di động lớn đến máy tính bảng nhỏ (large phones to small tablets) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* CSS cho điện thoại di động lớn đến máy tính bảng nhỏ ở đây */
  #sidebar {
    display: none;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 100% !important;
    margin-bottom: 12px;
  }
}

/* Máy tính bảng lớn (large tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS cho máy tính bảng lớn ở đây */
  #grid-selector {
    height: 10px;
    width: 1291px;
    padding: 40px 0 0px 30px;
    float: left;
    color: #5d5f68;
    font-size: 14px;
  }

  #grid-menu {
    float: right;
    width: 105px;
  }

  #grid {
    width: 1335px;
    position: absolute;
    left: 340px;
    height: 1200px;
    top: 180px;
  }

  #sidebar {
    float: left;
    background: #fff;
    width: 275px;
    padding: 13px 0 0 0px;
    height: 1400px;
    border-right: 1px solid #eee;
  }
  #sidebar h3 {
    color: #262626;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 35px 0 10px 0;
    letter-spacing: 1px;
    clear: both;
  }
  #sidebar .checklist {
    padding: 0;
  }
  .checklist ul li {
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    padding: 7px 0 7px 23px;
  }
  .checklist li span {
    float: left;
    width: 11px;
    height: 11px;
    margin-left: -23px;
    margin-top: 4px;
    border: 1px solid #d1d3d7;
    position: relative;
  }

  .sizes li span,
  .categories .sizes li {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }

  .checklist li a {
    color: #676a74;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .checklist li a:hover {
    color: #222;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .checklist a:hover span {
    border-color: #a6aab3;
  }
  .sizes a:hover span,
  .categories a:hover span {
    border-color: #a6aab3;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .checklist a span span {
    border: none;
    margin: 0;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .checklist a .x {
    display: block;
    width: 0;
    height: 2px;
    background: #5ff7d2;
    top: 6px;
    left: 2px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 50ms ease-out;
  }
  .checklist a .x.animate {
    width: 4px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  .checklist a .y {
    display: block;
    width: 0px;
    height: 2px;
    background: #5ff7d2;
    top: 4px;
    left: 3px;
    -ms-transform: rotate(13deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 50ms ease-out;
  }
  .checklist a .y.animate {
    width: 8px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }
  .checklist .checked span {
    border-color: #8d939f;
  }
  #sidebar img {
    margin-top: 6px;
  }
}

/* Máy tính để bàn nhỏ (small desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS cho máy tính để bàn nhỏ ở đây */
}
